<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
	<!-- Bootstrap CSS -->
	    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
    <title>Crea Ticket</title> 
  </head>
  <body>
    <div>

		<div class="container px-4">
		  <div class="row gx-5">
		    <div class="col mt-4">
		     
				
				<h3 class="mb-4">Inserisci un nuovo ticket</h3>
				
				<form id="formticket"
						th:action="@{/ticket/create}"
						method="post"
						th:object="${ticket}">
						
						<div class="mb-3">
						  <label for="input" class="form-group">Titolo Ticket</label>
						  <input type="text" class="form-control" id="nome" placeholder="Titolo Ticket" 
						  		 th:field="*{titoloTicket}">
						</div>
						<div class="mb-3">
						<label for="input" class="form-group">Descrizione ticket</label>
						    <textarea class="form-control" id="descrizione-textarea" rows="5" th:field="*{descrizioneTicket}"></textarea>
						   
						</div>

						<div class="mb-3">	
					      <th:field="*{dataTicket}">
						</div>
<!--						SELEZIONA LA CATEGORIA-->
						<select class="form-select mb-3" th:field="*{categoria.id}">
						    <option th:each="item : ${DB_categorie}" 
							th:value="${item.id}" th:text="${item.categoria}">
						</option>
						</select>
						
<!--						SELEZIONA LO STATO-->
						<select class="form-select mb-3" th:field="*{stato.id}">
						 <option th:each="item : ${DB_stato}" 
						th:value="${item.id}" th:text="${item.stato}">
						</option>
						</select>
<!--						// ERRORI //-->
						 <div th:if="${#fields.hasAnyErrors()}">
							<ul>
								<li th:each="err : ${#fields.allErrors()}" 
									th:text="${err}">
									Errore
								</li>
							</ul>
						 </div>
						 
						 <div class="col-auto">
						   <button type="submit" class="btn btn-primary mb-3">Salva</button>
						 </div>


				</form>	  
				<div class="mt-4 mb-4">
												<!--				tornale menu pizze -->
<!--												<a th:href="@{/pizzeria/index}" class="btn btn-success">Torna a tutte le pizze</a>-->
											  </div>
			</div>
		    </div>	    
		  </div>
		</div>
		
			
		
		
	  
	
	<!-- Bootstrap Bundle with Popper -->
	        <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
  </body>
</html>